* {
  margin: 0;
  padding: 0;
}

.calculator {
  background: #101010;
  width: 25em;
  margin: 5em auto;
}

.display {
  background: #222222;
  color: #fff;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  height: 6em;
  line-height: 8em;
  padding: 0 1.5em;
}

.controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.7em 0;
  margin: auto 0.5em;
}

.controls button {
  background: #222222;
  color: #fff;
  height: 5.5em;
  cursor: pointer;
  margin: 0.5em;
  border: unset;
  border-radius: 0.5em;
  outline: unset;
}

.controls button:hover {
  background: #333333;
}

.controls button:active {
  transform: translateY(0.5em)
}

.controls .teal {
  background: #005755;
}

.controls .teal:hover {
  background: #006664;
}

@media screen and (max-width: 768px) {
  .calculator {
    width: 100vw;
    height: 100vh;
    margin: auto;
  }
}
